NEXT_PUBLIC_FIREBASE_API_KEY=XXXX
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=your-project.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=your-project
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=your-project.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=123213123
NEXT_PUBLIC_FIREBASE_APP_ID=1:123123123:web:eXXXXddce92XXXX
NEXT_PUBLIC_ADMIN_EMAIL=your@admin.com